<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alla trails</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Alla trails</h1>

<table border="1">
    <thead>
    <tr>
        <th>Namn</th>
        <th>Distans</th>
        <th>Plats</th>
        <th>Tidsåtgång i minuter</th>
        <th>Höjdmeter</th>
        <th>Beskrivning</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trail : ${trails}">
        <td th:text="${trail.name}"></td>
        <td th:text="${trail.distanceKm}"></td>
        <td th:text="${trail.location}"></td>
        <td th:text="${trail.timeMinutes}"></td>
        <td th:text="${trail.elevationGain}"></td>
        <td th:text="${trail.description}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/trails/new}">Skapa ny trail</a>
</body>
</html>